* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logoticomar {
    height: 80px;
}

.collapse {
    height: 150px;
    display: flex;
    justify-content: space-around;

}

.container-fluid{
    box-shadow: 0px 6px 10px 0px #0000002b;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}


.navbar-nav{
    font-size: 16px;

}

.nav-link:hover {
    text-decoration: solid;
    text-decoration: underline;

}

.titulos {
    font-size: 40px;
    text-align: center;
}

.header-img {
    width: 100vw;
    padding: 16px;
}
.main-clases {
    padding: 40px;
}

footer {
    padding: 16px;
    display: flex;
    height: 40px;
    justify-content: space-between;

}

.footer-redes {
    height: 30px;
}

.footer-redes:hover {
    border: 5px black;
    ;
}

.info-clases {
    font-size: 30px;
    text-align: justify;
}

.grilla-clases {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "div-promo3 div-promo2 div-info-clases div-info-clases"
      "div-promo1 div-promo0 div-info-clases div-info-clases";
  }
  .div-info-clases { grid-area: div-info-clases; }
  .div-promo3 { grid-area: div-promo3; }
  .div-promo2 { grid-area: div-promo2; }
  .div-promo1 { grid-area: div-promo1; }
  .div-promo0 { grid-area: div-promo0; }

  .img-promos{
    height: 80%;
  }

  .formulario-contacto{
    
text-align: center;
  }

  .mapa{
    margin: 16px;
  }

  .señales{
    margin: 32px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .card{
    margin: 10px;
  }

  .card-text{
    font-size: 20px;
    text-align: center;
  }