* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.logoticomar {
    height: 80px;
}

.collapse {
    display: flex;
    justify-content: space-around;
}

.nav-link:hover {
    text-decoration: solid;
    text-decoration: underline;

}

.titulo-index{
    
}

.header-img {
    width: 100vw;
    padding: 16px;
}

header{
}

footer {
    padding: 16px;
    display: flex;
    height: 40px;
    justify-content: space-between;

}

.footer-redes {
    height: 30px;
}

.footer-redes:hover{
    border: 5px black;;
}